@import url('https://fonts.googleapis.com/css2?family=Cabin:wdth,wght@87.5,400..700&display=swap');

:root {
  --main-bg-color: #222;
  --main-text-color: #ffe;
  --error-color: #e77;
}

body {
  font-family: 'Cabin', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'wdth' 87.5;
  font-variant-numeric: tabular-nums;
  font-size: 18px;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

#sprites {
  display: none;
}

#app {
  max-width: 800px;
  margin: 24px;
}

h1 {
  font: inherit;
  font-size: 2rem;
  font-weight: 700;
}
h2 {
  font: inherit;
  font-size: 1.5rem;
  font-weight: 500;
  border-top: 1px solid var(--main-text-color);
  padding-top: 8px;
}

#mode-selector {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
}

#mode-selector label input {
  margin-inline: 0;
  margin-inline-end: 4px;
}

.error {
  font-size: 0.75em;
  color: var(--error-color);
}

.hint {
  font-size: 0.75em;
  color: #cca;
}

#game-params input,
#game-params textarea {
  font: inherit;
  width: 12em;
  border: none;
  background-color: var(--main-text-color);
  color: var(--main-bg-color);
}

#game-params input {
  margin-inline-start: 1ex;
  margin-top: 4px;
  margin-bottom: 4px;
}

#game-params textarea {
  height: 15ex;
  margin-top: 8px;
}

button {
  font: inherit;
  background: transparent;
  border: 1px solid var(--main-text-color);
  color: inherit;
  padding: 2px 4px;
}

button:active {
  color: var(--main-bg-color);
  background-color: var(--main-text-color);
}

.icon {
  display: inline-block;
  width: 2em;
  height: 1em;
  padding: 0.5em;
  line-height: 1em;
  cursor: pointer;
}

.icon svg {
  width: 1em;
  height: 1em;
  fill: var(--main-text-color);
}

#results-grid tbody {
  font-size: 14px;
}

#results-grid tbody tr:nth-child(odd) {
  background-color: #333;
}

#results-grid tbody tr:nth-child(even) {
  background-color: #444;
}

a:any-link {
  color: inherit;
  text-decoration: underline;
  cursor: pointer;
}
