@import url('https://fonts.googleapis.com/css2?family=Cabin:wdth,wght@87.5,400..700&display=swap');

body {
  font-family: 'Cabin', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'wdth' 87.5;
  font-variant-numeric: tabular-nums;
  font-size: 18px;
  background-color: #222;
  color: #eee;
}

#app {
  max-width: 800px;
  margin: 24px;
}

h1 {
  font: inherit;
  font-size: 2rem;
  font-weight: 700;
}
h2 {
  font: inherit;
  font-size: 1.5rem;
  font-weight: 500;
  border-top: 1px solid #eee;
  padding-top: 8px;
}

#mode-selector {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
}

#mode-selector label input {
  margin-inline: 0;
  margin-inline-end: 4px;
}

.error {
  font-size: 0.75em;
  color: #e77;
}

#game-params input,
#game-params textarea {
  font: inherit;
  width: 12em;
  border: none;
  background-color: #eee;
  color: #222;
}

#game-params input {
  margin-inline-start: 1ex;
  margin-top: 4px;
  margin-bottom: 4px;
}

#game-params textarea {
  height: 15ex;
  margin-top: 8px;
}

button {
  font: inherit;
  background: transparent;
  border: 1px solid #eee;
  color: inherit;
  padding: 2px 4px;
}

button:active {
  color: #222;
  background-color: #eee;
}
